[Desktop Entry]
Name=Audacity
GenericName=Sound Editor
Comment=Record and edit audio files
Icon=audacity
Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;
Exec=audacity %F
StartupNotify=false
Terminal=false
MimeType=application/x-audacity-project;application/ogg;audio/x-vorbis+ogg;audio/mpeg;audio/basic;audio/x-aiff;audio/x-wav;audio/flac;audio/x-flac;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;
X-XFCE-Source=file:///usr/share/applications/audacity.desktop
