[Desktop Entry]
Version=1.0
Type=Application
Name=Shell Tabs: KO Apps [QA Topic]
Comment=
Exec=./run-acronym-git-qa-repos-konsole-tabs.sh
Icon=terminator
Path=/home/ryan
Terminal=false
StartupNotify=false
