; .editorconfig
root = true

;references:
;https://github.com/maksimr/vim-jsbeautify
;https://github.com/maksimr/vim-jsbeautify/issues/62
;https://github.com/maksimr/dotfiles/blob/master/export/_editorconfig.symlink#L7
;https://github.com/beautify-web/js-beautify/issues/538

[**.js]
;vim:path=~/.vim/bundle/js-beautify/js/lib/beautify.js
vim:path=/usr/local/lib/node_modules/js-beautify/js/bin/js-beautify.js
indent_style = tab
indent_size = 4
brace_style = none
keep_array_indentation = true
keep_function_indentation = true
