xterm*font: Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=12
XTerm*faceName: Droid Sans Mono for Powerline Plus Nerd File Types Mono
xterm*faceSize: 12
xterm*vt100*geometry: 80x60
