[Desktop Entry]
Version=1.0
Type=Application
Name=Backup and Archive Database
Comment=Backup and Archive Database
Exec=./backup-database.sh
Icon=utilities-terminal
Path=/home/ryan/Acronym
Terminal=true
StartupNotify=false
