[Desktop Entry]
Version=1.0
Type=Application
Name=Start XAMPP
Comment=
Exec=/home/ryan/Dropbox/Bash-Scripts/start-xampp.sh
Icon=utilities-terminal
Path=/home/ryan/Dropbox/Bash-Scripts
Terminal=true
StartupNotify=false
