[Desktop Entry]
Version=1.0
Type=Application
Name=Acronym: Clear KO Log Files
Comment=Clears all KO Log Files
Exec=/home/ryan/Bash-Scripts/clean-ko-log-files.sh
Icon=utilities-terminal
Path=/home/ryan
Terminal=true
StartupNotify=false
