[Desktop Entry]
Version=1.0
Type=Application
Name=Shell Tabs: KO Apps [Proto]
Exec=./run-acronym-git-repos-konsole-tabs.sh
Icon=terminator
Path=/home/ryan
Terminal=false
StartupNotify=false
Comment=
Name[en_US.UTF-8]=Shell Tabs: KO Apps [Proto]
X-XFCE-Source=file:///home/ryan/Desktop/copy%20of%20KO%20Tabs.desktop
