[Desktop Entry]
Version=1.0
Type=Application
Name=Screencapture: Region
Comment=capture mouse selected region as gif
Exec=/home/ryan/Dropbox/public-bash-scripts/byzanz-screencapture-via-xrectsel.sh
Icon=gnome-screenshot
Path=~/Dropbox/public-bash-scripts
Terminal=true
StartupNotify=false
