[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ryan/Desktop/move-in-condition-report-camden-cotton-mills-0006.png]
row=2
col=2

[/home/ryan/Desktop/move-in-condition-report-camden-cotton-mills-0005.png]
row=1
col=2

[/home/ryan/Desktop/Games]
row=0
col=2

[16999559-853b-4eae-9083-2ced56459d81]
row=1
col=0

[2e661c3c-cfd5-4432-9508-4b6f365fc766]
row=2
col=0

[01CEB7E77857C730]
row=0
col=1

[Trash]
row=1
col=1

[/]
row=2
col=1

[/home/ryan]
row=0
col=0

