[Settings]
ShowAllProcesses=TRUE
MorePrecision=TRUE
FullCommandLine=FALSE
ShowStatusIcon=TRUE
ShowMemoryInXBytes=FALSE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=LARGE
PromptTerminateTask=TRUE
RefreshRate=5000
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=TRUE
ColumnVSZ=TRUE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=5
SortType=1
WindowWidth=1717
WindowHeight=891
HandlePosition=100
ProcessTreeView=FALSE
