[Desktop Entry]
Version=1.0
Type=Application
Name=Change Wallpaper
Comment=Reload desktop from list
Exec=xfdesktop --reload
Icon=preferences-desktop-wallpaper
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///usr/share/applications/Change%20Wallpaper.desktop
