[Desktop Entry]
Version=1.0
Type=Application
Name=Run Acronym Programs
Comment=
Exec=/home/ryan/run-acronym-programs.sh
Icon=/home/ryan/Dropbox/images/acronym-logo.jpg
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///usr/share/applications/Run%20Acronym%20Programs.desktop
