[Desktop Entry]
Version=1.0
Type=Application
Name=TMUX Tabs: KO Apps [Master]
Comment=
Exec=./tmux-run-acronym-git-master-repos.sh
Icon=/home/ryan/Dropbox/images/svgs/tmux-logomark.svg
Path=/home/ryan/
Terminal=true
StartupNotify=false
