[Desktop Entry]
Version=1.0
Type=Application
Name=TMUX Tabs: KO Apps [QA]
Comment=
Exec=/home/ryan/tmux-run-acronym-git-qa-repos.sh
Icon=/home/ryan/Dropbox/images/svgs/tmux-logomark.svg
Path=/home/ryan/
Terminal=true
StartupNotify=false
