[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ryan/Desktop/for-syn]
row=1
col=0

[/home/ryan/Desktop/Secondary HDD.desktop]
row=0
col=1

[/home/ryan/Desktop/Games]
row=1
col=1

[2e661c3c-cfd5-4432-9508-4b6f365fc766]
row=3
col=0

[01CEB7E77857C730]
row=2
col=1

[16999559-853b-4eae-9083-2ced56459d81]
row=2
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/ryan]
row=0
col=0

