[Desktop Entry]
Version=1.0
Type=Application
Name=Screencapture: Monitor 1
Comment=caputre monitor 1 as gif
Exec=/home/ryan/Dropbox/Bash-Scripts/byzanz-screencapture-monitor1.sh
Icon=gnome-screenshot
Path=~/Dropbox/Bash-Scripts
Terminal=true
StartupNotify=false
