[Desktop Entry]
Version=1.0
Type=Application
Name=Mount Synology NAS
Comment=Mounts network attached stoarage after boot (for when NAS not active before boot)
Exec=sudo /home/ryan/mount-syn-network-drive.sh
Icon=drive-harddisk
Path=
Terminal=true
StartupNotify=false
