[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Oracle VM VirtualBox
GenericName=Virtual Machine
Type=Application
Exec=VirtualBox %U
TryExec=VirtualBox
MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
DocPath=file:///usr/share/doc/virtualbox-4.3/UserManual.pdf
Icon=virtualbox
Categories=Emulator;System;X-MandrivaLinux-System;Application;
Comment=Run several virtual systems on a single host computer
X-XFCE-Source=file:///usr/share/applications/virtualbox.desktop
