[Desktop Entry]
Version=1.0
Type=Application
Name=----
Comment=Launcher
Exec=/dev/null
Icon=/home/ryan/Dropbox/images/icon-like/arrow-up-01-128.png
Path=
Terminal=false
StartupNotify=false
