[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ryan/Desktop/move-in-condition-report-camden-cotton-mills-0006.png]
row=0
col=23

[/home/ryan/Desktop/move-in-condition-report-camden-cotton-mills-0005.png]
row=1
col=23

[/home/ryan/Desktop/Games]
row=1
col=19

[2e661c3c-cfd5-4432-9508-4b6f365fc766]
row=3
col=19

[01CEB7E77857C730]
row=5
col=19

[16999559-853b-4eae-9083-2ced56459d81]
row=2
col=19

[Trash]
row=8
col=19

[/]
row=6
col=19

[/home/ryan]
row=0
col=0

