[Desktop Entry]
Type=Application
Name=SourceGear DiffMerge
GenericName=File Diff/Merge Viewer/Editor
Icon=/usr/share/icons/hicolor/48x48/apps/diffmerge.png
Exec=/usr/bin/diffmerge
Terminal=false
Categories=Development;GTK;TextEditor;TextTools;
Comment=Compare and merge files
X-XFCE-Source=file:///usr/share/applications/diffmerge.desktop
