[Main]
Timeout=250
Timeout_Seconds=1
Use_Timeout_Seconds=true

[SL_Cpu]
Enabled=true
Use_Label=false
Color=#0000C0
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=false
Color=#00C000
Text=mem

[SL_Swap]
Enabled=true
Use_Label=false
Color=#F0F000
Text=swap

[SL_Uptime]
Enabled=false

