[Desktop Entry]
Name=Skype
Comment=Skype Internet Telephony
Exec=env PULSE_LATENCY_MSEC=60 skype %U
Icon=/home/ryan/Dropbox/images/icon-like/skype-icon.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/skype;
X-KDE-Protocols=skype
X-XFCE-Source=file:///usr/share/applications/skype.desktop
Path=
StartupNotify=false
